{:deps
 {org.clojure/clojure            {:mvn/version "1.11.1"}
  org.clojure/clojurescript      {:mvn/version "1.11.4"}
  org.clojure/tools.analyzer.jvm {:mvn/version "1.2.2"}}

 :aliases
 {:clj-test
  {:extra-deps  {io.github.cognitect-labs/test-runner
                 {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
   :extra-paths ["test"]
   :main-opts   ["-m" "cognitect.test-runner"]}

  :cljs-test
  {:extra-deps  {olical/cljs-test-runner
                 {:mvn/version "3.8.0"}}
   :extra-paths ["test" "cljs-test-runner-out/gen"]
   :main-opts   ["-m" "cljs-test-runner.main"]}}}